#textdomain wesnoth-rtl
[textdomain]
    name="wesnoth-rtl"
    path="data/add-ons/The_Rootless/translations"
[/textdomain]

# wmlscope: set export=no
[campaign]
    id=The_Rootless
    icon="data/add-ons/The_Rootless/images/units/orcs/mounted-assassin.png~TC(1,magenta)"
    image="data/add-ons/The_Rootless/images/campaign-image.png"
    name= _ "The Rootless"
    abbrev= _ "Rootless"
    #rank=15
    start_year="8 YW"
    end_year="9 YW"
    first_scenario=01_The_Siege
    define="CAMPAIGN_THE_ROOTLESS"
    description=_ "Lich-Lord Jevyan is defeated, and the orcs are left in disarray. With the magical gates from the far East sealed, the warlords resort to their traditional ways—seeking to overcome adversity with blood and razor-sharp steel. Amid this chaos, a cunning assassin named Arshag embarks on a quest to secure a new homeland for his people.

NOTE: This campaign is no longer maintained for Wesnoth 1.16. Switch to Wesnoth 1.18 for new features, an improved story and a number of major bugfixes.
" + _"(Rookie level, 7 scenarios.)"

    {CAMPAIGN_DIFFICULTY EASY   "units/orcs/assassin.png~RC(magenta>red)" ( _ "Assassin") ( _ "Beginner")}
    {CAMPAIGN_DIFFICULTY NORMAL "units/orcs/slayer.png~RC(magenta>red)" ( _ "Slayer") ( _ "Normal")} {DEFAULT_DIFFICULTY}
    {CAMPAIGN_DIFFICULTY HARD   "units/orcs/nightblade.png~RC(magenta>red)" ( _ "Nightblade") ( _ "Challenging")}

    {ENABLE_TROLL_SHAMAN}

    [about]
        title = _ "Campaign Design & Code"
        [entry]
            name = "Anekron / Aleš Jeremiáš Šumpík"
        [/entry]
    [/about]
    [about]
        title = _ "Toruk & Troll Sage & Orcish Shaman Sprites"
        [entry]
            name = "Mechanical"
        [/entry]
    [/about]
    [about]
        title = _ "Playtesting & Code Help"
        [entry]
            name = "Mechanical"
        [/entry]
        [entry]
            name = "Lord Knightmare / Tahsin Jahin Khalid"
        [/entry]
        [entry]
            name = "ForestDragon"
        [/entry]
        [entry]
            name = "Norcen"
        [/entry]
    [/about]
    [about]
        title = _ "Playtesting & Code Help"
        [entry]
            name = "Mirion147"
        [/entry]
        [entry]
            name = "Toranks"
        [/entry]
        [entry]
            name = "Durmoth / Roland Peter Schilffarth"
        [/entry]
    [/about]
    [about]
        title = _ "Playtesting"
        [entry]
            name = "House Vinstor"
        [/entry]
        [entry]
            name = "Spice"
        [/entry]
    [/about]
    [about]
        title = _ "Haldric Sprite"
        [entry]
            name = "Vyncyn"
        [/entry]
    [/about]
    [about]
        title = _ "Elvish Zealot Sprite"
        [entry]
            name = "Paulomat4, Chaos Rider"
            comment = "From The Ravagers add-on"
        [/entry]
    [/about]
    [about]
        title = _ "Great Shaman Sprite"
        [entry]
            name = "Benoit Timbert (Noyga) and others"
            comment = "From 1.4 Extended Era"
        [/entry]
        [entry]
            name = "Updated and improved by Mechanical"
        [/entry]
    [/about]
    [about]
        title = _ "Female Shaman Portrait"
        [entry]
            name = "1/2 Kordov"
        [/entry]
    [/about]
    [about]
        title = _ "Additional Art & Sounds"
        [entry]
            name = "Anekron / Aleš Jeremiáš Šumpík"
        [/entry]
        [entry]
            name = "Pixabay.com"
        [/entry]
    [/about]
    [about]
        title = _ "Grammar & Accent Help"
        [entry]
            name = "Mirion147"
        [/entry]
    [/about]
    [about]
        title = _ "Story Music"
        [entry]
            name = "Aleksi Aubry-Carlson"
            comment = "the old Northerners theme"
        [/entry]
    [/about]
    [about]
        title = _ "WMG Art"
        [entry]
            name = "Mechanical"
        [/entry]
    [/about]
[/campaign]

#ifdef CAMPAIGN_THE_ROOTLESS
[binary_path]
    path="data/add-ons/The_Rootless"
[/binary_path]
{~add-ons/The_Rootless/utils}
{~add-ons/The_Rootless/scenarios}
[units]
    {~add-ons/The_Rootless/units}
[/units]
#endif
