#textdomain wesnoth-rtl
[unit_type]
    id=RTL Ghost Orcish Assassin
    name= _ "Orcish Assassin"
    race=undead
    image="units/orcs/assassin.png~O(70%)~GS()~CS(-200,-40,-0)"
    profile="portraits/arshag.png~O(70%)~GS()~CS(-200,-40,-0)"
    hitpoints=30
    movement_type=undeadspirit
    [movement_costs]
        unwalkable=10
    [/movement_costs]
    [abilities]
        {ABILITY_SKIRMISHER}
    [/abilities]
    movement=6
    experience=999
    level=1
    alignment=chaotic
    advances_to=null
    cost=17
    usage=mixed fighter
    description= _ "While many orcs prefer brute force as their modus operandi, the highly practical nature of their warfare promotes cutthroat tactics that are usually frowned on by other factions. Poison is one of the mainstays of orcish strategy, employed liberally to soften tough opponents on the battlefield and cripple enemy forces without risking a direct assault. The same weapon is readily turned to espionage and assassination, a commonplace occurrence between feuding orcish clans or even within a single clan itself."
    die_sound={SOUND_LIST:ORC_SMALL_DIE}
    {DEFENSE_ANIM_RANGE "units/orcs/assassin-defend-2.png~O(70%)~GS()~CS(-200,-40,-0)" "units/orcs/assassin-defend-1.png~O(70%)~GS()~CS(-200,-40,-0)" {SOUND_LIST:ORC_SMALL_HIT} melee }
    {DEFENSE_ANIM_RANGE "units/orcs/assassin-defend.png~O(70%)~GS()~CS(-200,-40,-0)" "units/orcs/assassin.png~O(70%)~GS()~CS(-200,-40,-0)" {SOUND_LIST:ORC_SMALL_HIT} ranged }
    [attack]
        name=dagger
        description=_"dagger"
        icon=attacks/dagger-orcish.png
        type=arcane
        range=melee
        damage=6
        number=2
        [specials]
            {WEAPON_SPECIAL_LUCIDITY}
        [/specials]
    [/attack]
    [attack]
        name=throwing knives
        description=_"throwing knives"
        icon=attacks/dagger-thrown-poison-orcish.png
        type=arcane
        range=ranged
        damage=6
        number=3
        [specials]
            {WEAPON_SPECIAL_LUCIDITY}
            {WEAPON_SPECIAL_MARKSMAN}
            {WEAPON_SPECIAL_SLOW}
        [/specials]
    [/attack]
    [death]
        start_time=0
        [frame]
            image="units/orcs/assassin-die-[1~10].png:[120,100*4,80*2,100*3]"
            image_mod="~O(70%)~GS()~CS(-200,-40,-0"
        [/frame]
    [/death]
    [idle_anim]
        {STANDARD_IDLE_FILTER}
        start_time=0
        [frame]
            image="units/orcs/assassin-idle-[1~8,7,8,3,2,9].png:100"
            image_mod="~O(70%)~GS()~CS(-200,-40,-0"
        [/frame]
    [/idle_anim]
    [attack_anim]
        [filter_attack]
            name=throwing knives
        [/filter_attack]
        missile_start_time=-150
        [missile_frame]
            duration=150
            image="projectiles/dagger-n.png"
            image_diagonal="projectiles/dagger-ne.png"
            image_mod="~O(70%)~GS()~CS(-200,-40,-0"
        [/missile_frame]
        start_time=-250
        [frame]
            image="units/orcs/assassin-ranged[1,2].png:100"
            image_mod="~O(70%)~GS()~CS(-200,-40,-0"
        [/frame]
        {SOUND:HIT_AND_MISS throwing-knife.ogg throwing-knife-miss.ogg -150}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=dagger
        [/filter_attack]
        start_time=-320
        [frame]
            image="units/orcs/assassin-attack-[1~6].png:[80*4,100*2]"
            image_mod="~O(70%)~GS()~CS(-200,-40,-0"
        [/frame]
        {SOUND:HIT_AND_MISS dagger-swish.wav {SOUND_LIST:MISS} -100}
    [/attack_anim]
[/unit_type]
